<div style="width:300px;margin-top: 20px">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control" id="addname">
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <button id="cancelAddCategoryBtn" type="button" class="btn btn-default btn-block"
                            data-dismiss="modal">取消
                    </button>
                </div>
                <div class="col-xs-6">
                    <button id="confirmAddCategoryBtn" type="button" class="btn btn-primary btn-block">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>