<div class="container-fluid">
    <div class="row">
        <ul id="categoryList" class="list-group">
            <li id="add_category" class="list-group-item add-category">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span id="add_new_category_text">新增分类</span>
            </li>
        </ul>
    </div>

    <div id="editCategoryItemPopup">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <div id="edit_title">编辑分类</div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4">
                    分类名称：
                </div>
                <div class="col-xs-offset-1"><input id="editname"/></div>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4">
                    目前排序：
                </div>
                <div class="col-xs-offset-0">
                    该分类目前排在第<input class="edit-category-item-position" id="editweight" type="number">位
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4">
                    商品数量：
                </div>
                <div class="col-xs-offset-0">改分类下共有<span id="sum"></span>款商品</div>
            </div>
        </div>

        <div class="well">
            <div>备注：</div>
            <div>分类名称和备注可编辑</div>
            <div>删除分类将不会删除商品，删除分类后，商品将进入“待分类”类目</div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-5">
                    <button class="btn btn-danger btn-block" id="deleteCategoryBtn">删除分类</button>
                </div>
                <div class="col-xs-5">
                    <button id="confirmEditCategoryBtn" class="btn btn-info btn-block">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>